In [1]:
#import libraries
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [2]:
#load dataset
df=pd.read_csv("salary.csv")

In [3]:
df.head()

,Unnamed: 0,age,Workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,0
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,0
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,0
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,0
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,0

In [4]:
#drop the unnamed column
df=df.drop("Unnamed: 0",axis=1)

In [5]:
#check null values
df.isnull().sum()

age               0
Workclass         0
fnlwgt            0
education         0
education-num     0
marital-status    0
occupation        0
relationship      0
race              0
sex               0
capital-gain      0
capital-loss      0
hours-per-week    0
native-country    0
Income            0
dtype: int64

In [6]:
#to check columns with categorical data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 15 columns):
age               1032 non-null int64
Workclass         1032 non-null object
fnlwgt            1032 non-null int64
education         1032 non-null object
education-num     1032 non-null int64
marital-status    1032 non-null object
occupation        1032 non-null object
relationship      1032 non-null object
race              1032 non-null object
sex               1032 non-null object
capital-gain      1032 non-null int64
capital-loss      1032 non-null int64
hours-per-week    1032 non-null int64
native-country    1032 non-null object
Income            1032 non-null int64
dtypes: int64(7), object(8)
memory usage: 121.0+ KB

# Label Encoding (TO chnage categorial data to numeric)

In [7]:
#seperate categorical data from dataset
df_cat=df.select_dtypes(object)
df_cat.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1032 entries, 0 to 1031
Data columns (total 8 columns):
Workclass         1032 non-null object
education         1032 non-null object
marital-status    1032 non-null object
occupation        1032 non-null object
relationship      1032 non-null object
race              1032 non-null object
sex               1032 non-null object
native-country    1032 non-null object
dtypes: object(8)
memory usage: 64.6+ KB

In [8]:
#call library for LabelEncoder
from sklearn.preprocessing import LabelEncoder

In [9]:
#create object of LabelEncoder
le=LabelEncoder()

In [10]:
#chaging the categorical data
for col in df_cat:
    le=LabelEncoder()
    df_cat[col]=le.fit_transform(df_cat[col])

In [11]:
#seperate numerical data 
df_num=df.select_dtypes(["int64","float64"])

In [12]:
#merge the categorical and numerical data
df_new=pd.concat([df_num,df_cat],axis=1)
df_new

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week,Income,Workclass,education,marital-status,occupation,relationship,race,sex,native-country
0,39,77516,13,2174,0,40,0,5,9,4,0,1,4,1,28
1,50,83311,13,0,0,13,0,4,9,2,3,0,4,1,28
2,38,215646,9,0,0,40,0,2,11,0,5,1,4,1,28
3,53,234721,7,0,0,40,0,2,1,2,5,0,2,1,28
4,28,338409,13,0,0,40,0,2,9,2,9,5,2,0,4
5,37,284582,14,0,0,40,0,2,12,2,3,5,4,0,28
6,49,160187,5,0,0,16,0,2,6,3,7,1,2,0,17
7,52,209642,9,0,0,45,1,4,11,2,3,0,4,1,28
8,31,45781,14,14084,0,50,1,2,12,4,9,1,4,0,28
9,42,159449,13,5178,0,40,1,2,9,2,3,0,4,1,28
10,37,280464,10,0,0,80,1,2,15,2,3,0,2,1,28
11,30,141297,13,0,0,40,1,5,9,2,9,0,1,1,14
12,23,122272,13,0,0,30,0,2,9,4,0,3,4,0,28
13,32,205019,12,0,0,50,0,2,7,4,11,1,2,1,28
14,34,245487,4,0,0,45,0,2,5,2,13,0,0,1,20
15,25,176756,9,0,0,35,0,4,11,4,4,3,4,1,28
16,32,186824,9,0,0,40,0,2,11,4,6,4,4,1,28
17,38,28887,7,0,0,50,0,2,1,2,11,0,4,1,28
18,43,292175,14,0,0,45,1,4,12,0,3,4,4,0,28
19,40,193524,16,0,0,60,1,2,10,2,9,0,4,1,28
20,54,302146,9,0,0,20,0,2,11,5,7,4,2,0,28
21,35,76845,5,0,0,40,0,0,6,2,4,0,2,1,28
22,43,117037,7,0,2042,40,0,2,1,2,13,0,4,1,28
23,59,109015,9,0,0,40,0,2,11,0,12,4,4,0,28
24,56,216851,13,0,0,40,1,1,9,2,12,0,4,1,28
25,19,168294,9,0,0,40,0,2,11,4,2,3,4,1,28
26,39,367260,9,0,0,80,0,2,11,0,3,1,4,1,28
27,49,193366,9,0,0,40,0,2,11,2,2,0,4,1,28
28,23,190709,12,0,0,52,0,1,7,4,10,1,4,1,28
29,20,266015,10,0,0,44,0,2,15,4,11,3,2,1,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,29,201954,13,0,0,35,0,2,9,4,3,1,4,1,28
1003,42,150533,10,7298,0,52,1,2,15,2,3,0,4,1,28
1004,38,412296,9,0,0,28,0,2,11,0,2,3,4,1,28
1005,41,133060,12,0,0,40,1,0,7,2,9,0,4,1,28
1006,44,120539,13,0,0,50,1,4,9,4,11,1,4,1,28
1007,31,196025,16,0,0,60,0,2,10,3,9,1,1,1,2
1008,34,107793,9,0,0,40,0,2,11,0,2,1,4,1,28
1009,21,163870,10,0,0,40,0,2,15,4,0,3,4,1,28
1010,22,361280,13,0,0,20,0,4,9,4,9,3,1,1,14
1011,62,92178,6,0,0,40,0,2,0,2,6,0,4,1,28
1012,29,260729,9,0,1977,25,1,3,11,2,11,5,4,0,28
1013,43,182254,10,0,0,40,0,2,15,0,9,4,4,0,28
1014,45,149865,13,0,0,60,1,3,9,2,6,0,4,1,28
1015,39,218184,5,0,1651,40,0,3,6,2,3,0,4,1,20
1016,41,118619,13,0,0,50,0,2,9,2,3,0,2,1,28
1017,34,196791,12,0,0,25,1,4,7,2,9,5,4,0,28
1018,34,167999,9,0,0,33,0,1,11,0,0,4,4,0,28
1019,31,51259,13,0,0,47,0,2,9,4,9,1,4,1,28
1020,29,131088,9,0,0,25,0,2,11,4,5,3,4,1,28
1021,41,118212,13,3103,0,40,1,2,9,2,2,0,4,1,28
1022,41,293791,11,0,0,55,0,2,8,2,13,0,4,1,28
1023,35,289430,14,0,0,45,1,3,12,2,11,0,4,1,20
1024,33,35378,13,0,0,45,1,2,9,2,11,5,4,0,28
1025,37,60227,13,0,0,38,0,5,9,4,0,1,4,1,28
1026,69,168139,9,0,0,40,0,2,11,2,11,5,4,0,28
1027,34,290763,9,0,0,40,0,2,11,0,5,3,4,0,28
1028,36,51100,10,0,0,40,0,2,15,2,2,0,4,1,28
1029,41,227644,9,0,0,50,0,2,11,2,13,0,4,1,28
1030,58,205267,13,0,0,40,1,1,9,2,9,5,4,0,28
1031,53,288020,13,0,0,40,0,2,9,2,9,0,1,1,18

In [13]:
#seperate the independent varibale X and dependent varibale Y
X=df_new.drop("Income",axis=1)
Y=df_new["Income"]

In [14]:
#split data fro training and testing 
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)

In [15]:
#create a function for training and testing
def create_model(model):
    model.fit(X_train,Y_train)#to train
    y_pred=model.predict(X_test)
    print(classification_report(Y_test,y_pred))
    return model

In [16]:
# we have used classification report so we have to call the class for it
from sklearn.metrics import classification_report

# Baseline Model Using Logistic Regression

In [17]:
#call class for logistic regression
from sklearn.linear_model import LogisticRegression

In [18]:
#create object for LogisticRegression class
lr=LogisticRegression()

In [19]:
#call the function "create_model"(for training and testing)
create_model(lr)

              precision    recall  f1-score   support

           0       0.81      0.96      0.88       238
           1       0.68      0.26      0.38        72

    accuracy                           0.80       310
   macro avg       0.75      0.61      0.63       310
weighted avg       0.78      0.80      0.76       310

LogisticRegression()

# Desicion Tree

In [20]:
#call the class for DecisionTreeClassifier
from sklearn.tree import DecisionTreeClassifier

In [21]:
#create object of DecisionTreeClassifier class
dt=DecisionTreeClassifier()

In [22]:
#call function "create_model"(for training and testing)
dt=create_model(dt)

              precision    recall  f1-score   support

           0       0.87      0.87      0.87       238
           1       0.56      0.57      0.57        72

    accuracy                           0.80       310
   macro avg       0.72      0.72      0.72       310
weighted avg       0.80      0.80      0.80       310

Here the recall is not that good and each column has some information gain so the model is getting overfit
so we will apply all the purning technique

In [23]:
#(1) max_depth 
#we create a different object of DecisionTreeClasiifier and pass parameter for max_depth
dt1=DecisionTreeClassifier(max_depth=2) #not mpore than 8

In [24]:
#call function "create_model"(for training and testing)
dt1=create_model(dt1)

              precision    recall  f1-score   support

           0       0.79      0.95      0.87       238
           1       0.54      0.18      0.27        72

    accuracy                           0.77       310
   macro avg       0.67      0.57      0.57       310
weighted avg       0.74      0.77      0.73       310

In [25]:
#(2) min_sample_leaf
#we create a different object of DecisionTreeClasiifier and pass parameter for min_sample_leaf
dt2=DecisionTreeClassifier(min_samples_leaf=45) #min 50

In [26]:
#call function "create_model"(for training and testing)
dt2=create_model(dt2)

              precision    recall  f1-score   support

           0       0.89      0.84      0.86       238
           1       0.55      0.64      0.59        72

    accuracy                           0.80       310
   macro avg       0.72      0.74      0.73       310
weighted avg       0.81      0.80      0.80       310

# Decision Tree Entropy

In [27]:
#we create a different object of DecisionTreeClasiifier and pass parameter for entropy
dt3=DecisionTreeClassifier(min_samples_leaf=45,criterion="entropy") #min 50

In [28]:
#call function "create_model"(for training and testing)
dt3=create_model(dt3)

              precision    recall  f1-score   support

           0       0.87      0.91      0.89       238
           1       0.64      0.54      0.59        72

    accuracy                           0.82       310
   macro avg       0.75      0.72      0.74       310
weighted avg       0.81      0.82      0.82       310

# Ensembling Technique

# 1. AdaBoost

In [29]:
#call the class for adaboost
from sklearn.ensemble import AdaBoostClassifier

In [30]:
#create object of Adaboost
ada=AdaBoostClassifier(n_estimators=100)

In [31]:
#call function "create_model"
create_model(ada)

              precision    recall  f1-score   support

           0       0.89      0.89      0.89       238
           1       0.64      0.62      0.63        72

    accuracy                           0.83       310
   macro avg       0.77      0.76      0.76       310
weighted avg       0.83      0.83      0.83       310

AdaBoostClassifier(n_estimators=100)

# 2. Gradient Boost

In [32]:
#call the class for GradientBoost
from sklearn.ensemble import GradientBoostingClassifier

In [33]:
#create object of GradientBoostingClassifier
gbc=GradientBoostingClassifier(n_estimators=100)

In [34]:
#call function"create_model"
create_model(gbc)

              precision    recall  f1-score   support

           0       0.88      0.94      0.91       238
           1       0.74      0.58      0.65        72

    accuracy                           0.85       310
   macro avg       0.81      0.76      0.78       310
weighted avg       0.85      0.85      0.85       310

GradientBoostingClassifier()

# Feature Selection Technique

# 1. Anova Test

In [35]:
from sklearn.feature_selection import f_regression #f_regression is for anova test
from sklearn.feature_selection import SelectKBest
#selectKBest is important object

In [36]:
#create object for SlectKBest class
anova=SelectKBest(score_func=f_regression,k=6) #k is no of columns/feature which retrive 10 imp features after fit_transform()
#anov auser define object

In [37]:
#train data and return 10 best column and store in X_train_imp
X_train_imp=anova.fit_transform(X_train,Y_train)

In [38]:
#test the data
X_test_imp=anova.transform(X_test)

In [39]:
#check which features are selected and which are rejected
anova.get_support() #return ans in boolean type 0 means false 1 means true

array([ True, False,  True,  True, False,  True, False, False,  True,
       False,  True, False, False, False])

In [40]:
#again create object of logistic regression after anova test
lr1=LogisticRegression()

In [41]:
#train model
lr1.fit(X_train_imp,Y_train)

LogisticRegression()

In [42]:
#check the score
lr1.score(X_test_imp,Y_test)

0.8193548387096774

In [43]:
#CHI SQUARE TEST

In [44]:
# before applying chi square test to check which if column has non negative
for col in X:
    print("column name:",col)
    print(df[col].unique())

column name: age
[39 50 38 53 28 37 49 52 31 42 30 23 32 34 25 43 40 54 35 59 56 19 20 45
 22 48 21 24 57 44 41 29 47 46 36 79 27 18 33 76 55 61 70 64 71 66 51 58
 26 17 60 90 75 65 77 62 63 67 74 72 69 68 73 81 78]
column name: fnlwgt
[ 77516  83311 215646 ... 227644 205267 288020]
column name: education-num
[13  9  7 14  5 10 12  4 16 11 15  3  6  1  8  2]
column name: capital-gain
[ 2174     0 14084  5178  5013  2407 14344 15024  7688  4064  4386  7298
  1409  3674  1055  2050  2176   594 20051  6849  4101  8614  3411  2597
 25236  4650  2463  3103 10605  2964  3325  2580  3471]
column name: capital-loss
[   0 2042 1408 1902 1887 1719 1762 1564 2179 1816 1980 1977 1876 1340
 2206 1741 1485 2339 2415 1380 1721 2051 2377 1669 2352 1672  653 2392
 1504 1590 1651]
column name: hours-per-week
[40 13 16 45 50 80 30 35 60 20 52 44 15 25 43 38 55 48 58 32 70 22 56 41
 28 36 24 46  2 42 12 65  1 34 75 98 33 54 10  6 64 19 18 72  8  9 47 37
 21 26 14  5  7 99]
column name: Workclass
[' State-gov' ' Self-emp-not-inc' ' Private' ' Federal-gov' ' Local-gov'
 ' Self-emp-inc']
column name: education
[' Bachelors' ' HS-grad' ' 11th' ' Masters' ' 9th' ' Some-college'
 ' Assoc-acdm' ' 7th-8th' ' Doctorate' ' Assoc-voc' ' Prof-school'
 ' 5th-6th' ' 10th' ' Preschool' ' 12th' ' 1st-4th']
column name: marital-status
[' Never-married' ' Married-civ-spouse' ' Divorced'
 ' Married-spouse-absent' ' Separated' ' Married-AF-spouse' ' Widowed']
column name: occupation
[' Adm-clerical' ' Exec-managerial' ' Handlers-cleaners' ' Prof-specialty'
 ' Other-service' ' Sales' ' Transport-moving' ' Farming-fishing'
 ' Machine-op-inspct' ' Tech-support' ' Craft-repair' ' Protective-serv'
 ' Armed-Forces' ' Priv-house-serv']
column name: relationship
[' Not-in-family' ' Husband' ' Wife' ' Own-child' ' Unmarried'
 ' Other-relative']
column name: race
[' White' ' Black' ' Asian-Pac-Islander' ' Amer-Indian-Eskimo' ' Other']
column name: sex
[' Male' ' Female']
column name: native-country
[' United-States' ' Cuba' ' Jamaica' ' India' ' Mexico' ' Puerto-Rico'
 ' Honduras' ' England' ' Canada' ' Germany' ' Iran' ' Philippines'
 ' Poland' ' Columbia' ' Cambodia' ' Thailand' ' Ecuador' ' Laos'
 ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic' ' El-Salvador'
 ' France' ' Guatemala' ' Italy' ' China' ' South' ' Japan' ' Yugoslavia']

In [45]:
#call class for chi square test
from sklearn.feature_selection import chi2

In [46]:
#create object
chi=SelectKBest(score_func=chi2,k=6)

In [47]:
#train data and return 10 best column and store in X_train_imp
X_train_imp=chi.fit_transform(X_train,Y_train)

In [48]:
#test the data
X_test_imp=anova.transform(X_test)

In [49]:
#check which features are selected and which are rejected
anova.get_support() #return ans in boolean type 0 means false 1 means true

array([ True, False,  True,  True, False,  True, False, False,  True,
       False,  True, False, False, False])

In [50]:
#again create object of logistic regression after anova test
lr1=LogisticRegression()

In [51]:
#train model
lr1.fit(X_train_imp,Y_train)

LogisticRegression()

In [52]:
#check the score
lr1.score(X_test_imp,Y_test)

0.7677419354838709

# 2. Wrapper Method

# a) Forward selection

In [53]:
#declare empty list for the columns
columns=[]

In [54]:
for col in X:
    columns.append(col)
    X_new=df_new[columns] #input variable
    X_train,X_test,Y_train,Y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #create a object of LogisticRegression
    lin=LogisticRegression()
    #we train the model
    lin.fit(X_train,Y_train)
    #find the score
    score1=lin.score(X_test,Y_test)
    print("Column : ",col, " Score : ",score1)

Column :  age  Score :  0.7548387096774194
Column :  fnlwgt  Score :  0.7677419354838709
Column :  education-num  Score :  0.7677419354838709
Column :  capital-gain  Score :  0.7903225806451613
Column :  capital-loss  Score :  0.7870967741935484
Column :  hours-per-week  Score :  0.7870967741935484
Column :  Workclass  Score :  0.7903225806451613
Column :  education  Score :  0.7870967741935484
Column :  marital-status  Score :  0.7967741935483871
Column :  occupation  Score :  0.8032258064516129
Column :  relationship  Score :  0.8064516129032258
Column :  race  Score :  0.7903225806451613
Column :  sex  Score :  0.7967741935483871
Column :  native-country  Score :  0.8

In [55]:
'''for col in X:
    columns.append(col)
    X_new=df_new[columns] #input variable
    #split data for training and testing
    X_train,X_test,Y_train,Y_test=train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #create object of linear r
    lr1=LogisticRegression()
    #train model
    lr1.fit(X_train,Y_train)
    y_pred=lr1.predict(X_test)
    #find score
    score1=lr1.score(X_test,Y_test)
    #print(classification_report(Y_test,y_pred))
    print("column :",col, "Score :",score1)'''

'for col in X:\n    columns.append(col)\n    X_new=df_new[columns] #input variable\n    #split data for training and testing\n    X_train,X_test,Y_train,Y_test=train_test_split(X_new,Y,test_size=0.3,random_state=1)\n    #create object of linear r\n    lr1=LogisticRegression()\n    #train model\n    lr1.fit(X_train,Y_train)\n    y_pred=lr1.predict(X_test)\n    #find score\n    score1=lr1.score(X_test,Y_test)\n    #print(classification_report(Y_test,y_pred))\n    print("column :",col, "Score :",score1)'

# b) Backward SeeLection

In [56]:
#Backward Wrapper  method code :                                                                                                                 X_new=X
n_col=X_new.shape[1]
print(n_col)
for i in range(n_col,0,-1):
    #columns.append(col)
    #X_new=df_new[::-1] #input variable
    X_train,X_test,y_train,y_test = train_test_split(X_new,Y,test_size=0.3,random_state=1)
    #create a object of LinearRegression
    lin=LogisticRegression()
    #we train the model
    lin.fit(X_train,Y_train)
    #find the score
    score1=lin.score(X_test,Y_test)
    print("Column : ",i, " Score : ",score1)
    X_new=X_new.iloc[:,:-1]

14
Column :  14  Score :  0.8
Column :  13  Score :  0.7967741935483871
Column :  12  Score :  0.7903225806451613
Column :  11  Score :  0.8064516129032258
Column :  10  Score :  0.8032258064516129
Column :  9  Score :  0.7967741935483871
Column :  8  Score :  0.7870967741935484
Column :  7  Score :  0.7903225806451613
Column :  6  Score :  0.7870967741935484
Column :  5  Score :  0.7870967741935484
Column :  4  Score :  0.7903225806451613
Column :  3  Score :  0.7677419354838709
Column :  2  Score :  0.7677419354838709
Column :  1  Score :  0.7548387096774194

In [57]:
'''X_new=X
n_col=X_new.shape[1]
print(n_col)
for i in range(n_col,0,-1):
    #columns.append(col)
    #X_new=df_new[::-1]# input variable
    X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)
    #create object of LinearRegression
    lr3=LogisticRegression()
    #train model
    lr3.fit(X_train,Y_train)
    #find score
    score1=lr3.score(X_test,Y_test)
    print("COlumn:",i,"Score:",score1)
    X_new=X_new.iloc[:,:-1]'''

'X_new=X\nn_col=X_new.shape[1]\nprint(n_col)\nfor i in range(n_col,0,-1):\n    #columns.append(col)\n    #X_new=df_new[::-1]# input variable\n    X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.3,random_state=1)\n    #create object of LinearRegression\n    lr3=LogisticRegression()\n    #train model\n    lr3.fit(X_train,Y_train)\n    #find score\n    score1=lr3.score(X_test,Y_test)\n    print("COlumn:",i,"Score:",score1)\n    X_new=X_new.iloc[:,:-1]'

# 3. PCA Method

In [58]:
#STEP 1 : STANDARDIZATION MEANS SCALE(UNITS) OF ALL FEATURE SHOULD BE SAME 
#there are 2 methods
#1. MinMaxScaler()- Normalization (0-1)
#2. StandardScaler()- standardisation (z-score)

In [59]:
#apply standard scaler
from sklearn.preprocessing import StandardScaler

In [60]:
for col in df_new:
    #create object of standar scaler
    ss=StandardScaler()
    df_new[col]=ss.fit_transform(df_new[[col]])

In [61]:
#apply PCA
from sklearn.decomposition import PCA

In [62]:
#create object of PCA
pc=PCA(n_components=14,random_state=1)
#n_components is a parameter : where we pass how many columns/feature we want (each column/feature is a princepal component)
#we have 14 but we pass nonly 10 in the starting

In [63]:
#seperate independent X and dependent Y
X=df_new.drop("Income",axis=1)
y=df_new["Income"]

In [64]:
#split data for training and testing
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=1)

In [65]:
#training using pca
X_train_pc=pc.fit_transform(X_train,y_train)

In [66]:
#testing using pca
X_test_pc=pc.transform(X_test)

In [67]:
#create object of logistic regression
lr_pc=LogisticRegression()

In [68]:
#train the model
#lr_pc.fit(X_train_pc,y_train)

In [69]:
#check score
#lr_pc.score(X_test_pc,y_test)